.input-update {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    background-color: transparent;
    outline: none;
    padding: 7px 0;
    font-size: 16px;
}

.label {
    font-size: 12px;
}

.name-field {
    display: flex;
    flex-direction: row;
}

.subname-input-field,
.name-input-field {
    display: inline-flex;
    flex-direction: column;
}