@use 'src/global';

#home {
    position: relative;
    top: 72.78px;
    z-index: 0;

    .filter-bar-container {
        position: relative;
        height: 124.83px;

        .filter-bar {
            padding: 2em 0;
            left: 0;
            right: 0;
    
            .category-tab {
                @include global.center();
                gap: 1em;
            }
        }

        .filter-button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid global.$gray-200;
            padding: 0.6em 0.8em;
            @include global.center();
            gap: 0.4em;
            border-radius: 0.6em;
            transition: border-color 0.15s linear;

            &:hover {
                border-color: global.$black;
            }
        }
    }

    .hotel-cards {
        width: 100%;
    }
}