$background-light: #4361EE;
$input-width: 330px;
.container {
    margin-top: 1.5rem;
}

.input-update {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    background-color: transparent;
    outline: none;
    padding: 7px 0;
    font-size: 16px;
    width: $input-width;
}

.buttons-field {
    margin-top: 2rem;
    .buttons-1 {
        cursor: pointer;
        font-weight: bold;
        color: black;
        font-size: 16px;
        height: 2rem;
        width: 7rem;
        border-radius: 10px;
        border: 1px solid;
        transition: 0.2s;
        &:hover {
            background-color: $background-light;
            color: white;
        }
    }
    .buttons-2 {
        cursor: pointer;
        font-weight: bold;
        margin-left: 1rem;
        font-size: 16px;
        height: 2rem;
        width: 7rem;
        border-radius: 10px;
        border: 1px solid;
        transition: 0.2s;
        &:hover {
            background-color: $background-light;
            color: white;
        }
    }
}

.label {
    font-size: 0.75rem;
}

.form-field {
    width: 30rem;
}

.text-input-field {
    display: inline-flex;
    flex-direction: column;
}

.button-field {
    height: 48px;
    width: 202px;
    border-radius: 12px;
}