@use 'src/global';

#advance-search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: global.$white;
    
    .advance-search-header {
        display: flex;
        gap: 1em;
        padding: 0.3em 1.2em;
        border-radius: 2em;
        background: global.$gray-100;

        .advance-search-button {
            margin-left: auto;
            @include global.center();
            background-color: global.$main-color;
            border-radius: 0.8em;
            transition: all 0.2s ease-out;
            border-radius: 1.6em;
            margin-right: -0.8em;
            

            .search-button {
                padding: 1.2em 1.3em;
                color: global.$white;
                cursor: pointer;

                .fa-magnifying-glass {
                    margin-right: 0.4em;
                }
            }

            
            &:hover {
                opacity: 0.8;
            }
        }
    }
}