@use 'src/global';

#hotel-manage-header {
    padding: 1em 0;

    .hotel-manage-tabs {
        @include global.center();
        gap: 0.4em;

        .link-to {
            font-size: 0.9em;
            font-weight: 500;
            color: global.$gray-500;

            &.active {
                color: global.$black;
            }
        }
    }
}