@use '../../DefaultLayout/DefaultLayout.module.scss';
@use 'src/global';

#header {
    display: flex;
    padding: 1em 0;

    .logo-wrapper {
        flex-basis: 20%;
    }

    .icon-buttons-container {
        margin-left: auto;
        @include global.center();
    }
}